<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Hawaii</string>
		<key>Capitol</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>5</integer>
		<key>NativeFaction</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Norway</string>
		<key>Capitol</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>2</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>France</string>
		<key>Capitol</key>
		<string>Paris</string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>2</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Germany</string>
		<key>Capitol</key>
		<string>Berlin</string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>2</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Algeria</string>
		<key>Capitol</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>2</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Italy</string>
		<key>Capitol</key>
		<string>Rome</string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>2</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Balkans</string>
		<key>Capitol</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>2</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Eastern Europe</string>
		<key>Capitol</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>2</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Libya</string>
		<key>Capitol</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>2</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Belorussia</string>
		<key>Capitol</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>1</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ukraine S.S.R.</string>
		<key>Capitol</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>2</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>West Russia</string>
		<key>Capitol</key>
		<string></string>
		<key>Value</key>
		<integer>1</integer>
		<key>ControllingFaction</key>
		<integer>1</integer>
		<key>NativeFaction</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
